<html>
<head>

</head>
<body>
<h1>Please input the URL!</h1>

<form accept-charset="UTF-8" action="/scrape/do_url" method="post">
  <div>
    <table>
      <tr>
        <td><label for="">name:</label></td>
        <td>
          <input id="url_name" name="url_name" style="vertical-align: middle" type="text" size="30"/></td>
      </tr>
      <tr>
        <td><label for="q">url:</label></td>
        <td><input id="url_value" name="url_value" style="vertical-align: middle;" type="text" size="100"/></td>
      </tr>
    </table>
    <input name="commit" style="height:100px;width:100px;font-size: 50px" type="submit" value="run"/>
  </div>
</form>
</body>

</html>