<%= javascript_tag do %>
    window.ym.all_robots = '<%= @robots.to_json.html_safe %>'
<% end %>

<div id="application">
  <div id="menu" >
    <div class="current">
      <div class="user">
        <img class="rounded" src="/assets/anonymous.png">
        <div class="details">
          <a class="username" href="#">
            <i class="fa fa-user"></i>
            <span class="tst-userdetails-name">oo</span>
          </a>
          <a href="#">
            <i class="fa fa-industry"></i>
            <span class="tst-userdetails-accountname">oo</span>
          </a>
          <div class="account">
            <a href="">
              <i class="fa fa-clock-o"></i>
                <span class="t">
                    Hours left:
                    <b ng-class="{red: accountUsage.hoursAvailable < 0}" class="ng-binding">2 h., 45
                      min.</b>
                </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <menu class="vertical no-deprecation">
      <li>
        <a class="t" href="#/" active-href="/">Dashboard</a>
      </li>
      <li>
        <a class="t active" href="#/projects" active-href="/projects">Projects</a>
      </li>
      <li>
        <a class="t" href="#/workers" active-href="/workers">Usage</a>
      </li>
      <li>
        <a class="t" href="#/integrations" active-href="/integrations">Integrations</a>
      </li>
      <li>
        <a class="t" href="#/users" active-href="/users">Users</a>
      </li>
      <li>
        <a class="t" href="#/proxies" active-href="/proxies">Proxies</a>
      </li>
      <li>
        <a class="t" href="#/api" active-href="/api">API</a>
      </li>
      <li>
        <a class="t" href="http://support.dexi.io/" target="support">Help &amp; Support</a>
      </li>
      <li>
        <a class="t" href="#/gettingstarted" active-href="/gettingstarted">Getting Started</a>
      </li>

      <li>
        <a class="t" track-click="User logged out" href="/logout">Log out</a>
      </li>

      <li class="no-button padded-more">
        <p class="centered-text margin-above t" style="color:white; font-size:12px;">
          Do you need help creating your robots?
        </p>
        <a class="button orange" href="javascript:;" ng-click="showBuildMyRobotDialog()" track-click="User clicked Build my robot">
          <span class="t">Build my robot</span>
        </a>
        <a class="button secondary" href="javascript:;" ng-click="showSupport()" track-click="User clicked Get Help">
          <span class="t">Get help!</span>
        </a>
        <p class="centered-text t" style="color:#ccc; font-size:10px;">
          dexi.io Certified
        </p>
      </li>
    </menu>
    <div class="logo">
      <img src="/assets/dexi_white.svg" alt="dexi.io">
    </div>
  </div>
  <div id="content" ng-controller="indexController">
    <section class="projects layout-header-body "   style="display: block;">
      <h2>Projects
        <div class="actions" ng-click="create_robot_dialog.show()">
          <dropdown classes="button wider secondary" icon="fa fa-plus" text="New..." class="ng-isolate-scope">
            <div class="dropdown " id="elements-27769">
            <a class="button wider secondary  with-icon" href="javascript:;" ng-click="dropdown.show = dropdown.show ? false : true">
              <!-- ngIf: icon --><i  class="fa fa-plus"></i>&nbsp;New... <i class="fa fa-caret-down"></i>
            </a>

          </div></dropdown>
        </div>
      </h2>
      <div class="body">
        <div class="tree-list-view vfs" >
          <div class="header">
            <div class="column name" >Name
              <input class="search" type="search "  placeholder="Type here to search..." >
            </div>
            <div class="column tags">Tags</div>
            <div class="column kind">Kind</div>
          </div>
          <div class="rows" >
            <div class="row" ng-class="node.style" ng-repeat="node in treeNodes" ng-click="toggle_context_info(node);">
              <div class="column name" style="padding-left: 0px;">
                <span class="expander">
                  <i class="fa fa-chevron-right" ng-class="{'fa-chevron-down': node.expanded,'fa-chevron-right':!node.expanded}"></i>
                </span>
                <span class="title ng-binding" tree-list-droppable="scraper">
                        <i class="fa fa-share-square-o icon-share ng-hide"  title="Shared with you"></i>
                        <i class="cs-icon-r2d2"></i>
                        {{node.name}}
                    </span>
              </div>
              <div class="column tags">{{node.tags}}</div>
              <div class="column kind">{{node.kind}}</div>
            </div>
          </div>
        </div>
        <div class="context-info" context-info>
          <div class="header">
            <button class="button small" title="Close" ng-click="close_context_info()">
              <i class="fa fa-remove"></i>
            </button>
          </div>
          <div class="image">
            <i class="fa fa-share-square-o icon-share " title="Shared with you" ng-show="false;"></i>
            <i  class="cs-icon-r2d2"></i>
          </div>
          <h3 class="node-name-label ">{{active_node.name}}</h3>
          <table class="details">
            <tbody>
            <tr>
              <th class="t">Type</th>
              <td ng-bind="activeNode.typeName" class="ng-binding">Extractor</td>
            </tr>
            <tr>
              <th class="t">Last Modified</th>
              <td class="ng-binding">2016-08-09 17:58</td>
            </tr>
            <tr>
              <th class="t">Modified by</th>
              <td user="activeNode.modifiedBy">oo</td>
            </tr>
            <tr>
              <th class="t">Created</th>
              <td class="ng-binding">2016-08-09 16:45</td>
            </tr>
            <tr>
              <th class="t">Created by</th>
              <td user="activeNode.createdBy">oo</td>
            </tr>
            <tr class="tags-row">
              <th>
                <a ng-click="tagsDialog.visible = true" title="Click here to edit the tags for this object" class="t" href="javascript:;">Tags</a>
              </th>
              <td>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="context-actions">
            <div class="button-container ">
             <a class="button  primary"  ng-href="/scrape/do_url?robot_id={{active_node.id}}" >Open</a>
            </div>
            <div class="button-container" >
              <a  class="button danger" ng-click="delete_robot(active_node.id)">Delete</a>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>
</div>

<div id="new_dialog"  ng-show="create_robot_dialog.visible" style="display: block;width: auto;min-height: 71px;max-height: 799px;height: auto;">
  <form id="create_robot_form" class="label-above ng-pristine ng-valid" novalidate method="post" action="/scrape/do_url">
    <div class="box info grey">
      Choose the type of robot you want to create. Choose type to see a detailed description below.
    </div>
    <div  class="form-row-line">
      <div class="form-row" label="Url" help="Choose url to start from" ><label class="field-label">Url:</label>
        <input type="text" name="url" ng-model="robot_url"  placeholder="http://www.somewhere.com" required="true" class="ng-pristine ng-untouched ng-valid ng-valid-required">
        <div class="help">Choose url to start from</div><div class="error" style="display: none;"></div></div>
      <div class="form-row" label="Name" help="Give your robot a name"><label class="field-label">Name:</label>
        <input type="text" name="robot_name"  ng-model="robot_name"   placeholder="My Robot" class="ng-pristine ng-untouched ng-valid">
        <div class="help">Give your robot a name</div><div class="error" style="display: none;"></div></div>
    </div>
    <div class="form-buttons">
      <button type="button" class="button t" ng-click="create_robot_dialog.cancel()">Cancel</button>
      <button type="submit" class="button t primary wider" ng-click="create_robot_dialog.create()">Create new robot</button>
    </div>
  </form>
</div>