<% if @is_error %>
    <br/>
    <%= @error_content %>
<% else %>

    <%= javascript_tag do %>
        window.ym.robot_string = '<%= @robot_string.html_safe %>'
    <% end %>

    <div class="p1" >
      <div id="p0" class="p2-1 main">
        <div class="loader" data-loading>
          <span>Please wait while processing step...</span>

          <div class="spinner-container">
            <div class="sk-spinner sk-spinner-rotating-plane"></div>
          </div>

          <ul class="details ng-hide" ng-show="idleStates.length">
            <li>Waiting for:</li>
            <!-- ngRepeat: idleState in idleStates -->
          </ul>

          <a class="button big danger" ng-click="player.abort()">Abort execution</a>

        </div>
        <div id="p2" class="p3-1 sidepane">
          <div class="content">
            <h3>
              <span>1 element selected</span>

              <div class="actions">
                <a href="javascript:;" ng-click="closeSidePane1()" class="button mini">
                  <i class="fa fa-remove"></i>
                </a>
              </div>
            </h3>
            <div class="body" ng-include="sidePaneView1">

            </div>
          </div>
        </div>
        <div id="p1" class="p3-2 page">
          <div class="p4-1 inner">
            <iframe id="modified_page" class="iframe_class">
            </iframe>
          </div>
        </div>
      </div>
      <div class="p2-2  mainpane">
        <div id="p4" class="p3-3 sidepane">
          <h3>
            <span ng-bind="sidePane2Title"></span>

            <div class="actions">
              <a href="javascript:;" ng-click="closeSidePane2()" class="button mini">
                <i class="fa fa-remove"></i>
              </a>
            </div>
          </h3>
          <div class="body" ng-include="sidePaneView2">

          </div>
        </div>
        <div id="p3" class="p3-4 main tab-pane">
          <div class="tab-buttons">
            <a class="button active" tab-id="steps">Steps<i class="fa fa-chevron-down collapsed"></i></a>
            <a class="button " tab-id="Results">Results<i class="fa fa-chevron-down collapsed"></i></a>
            <a class="button " tab-id="new">new<i class="fa fa-chevron-down collapsed"></i></a>

            <div class="actions">
              <a class="button small t orange" ng-click="contactSupport()" title="Write a message to support">
                Get help
              </a>

              <i class="separator"></i>

              <a class="button small t" ng-click="goBack()">
                Close
              </a>

              <a ng-show="draft.exists" class="button danger small t" ng-click="discardDraft()"
                 ng-confirm="This will cause all current changes to be lost. Continue?">
                Discard draft
              </a>

              <a class="button small t" ng-click="jsonEditor.show()"
                 title="Edit the raw robot definition in JSON format">
                JSON
              </a>

              <a class="button primary small t" ng-click="save()">
                Save
              </a>

              <i class="separator"></i>

              <a class="button mini" title="Restart" ng-click="player.restart()">
                <i class="fa fa-fast-backward"></i>
              </a>
              <a class="button mini" title="Step back" ng-click="player.stepBack()">
                <i class="fa fa-step-backward"></i>
              </a>
              <a class="button mini" title="Step forward" ng-click="player.stepForward()">
                <i class="fa fa-step-forward"></i>
              </a>
              <a class="button mini" title="Start / stop" ng-click="player.togglePlay()"
                ng-class="{secondary : player.playing}">
                <i ng-class="{fa : true, 'fa-play': !player.playing, 'fa-pause':player.playing}"></i>
              </a>
            </div>
          </div>
          <div class="tab-page fill padded active">
            <div class="flow-editor" style="top:2px; left:10px;overflow:hidden; z-index:2;">
              <svg width="{{svg_width}}" height="222" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <g>
                  <title>Layer 1</title>
                  <g id="svg_7" class="line-weight:22px;" ng-include="'svg.html'">
                  </g>
                </g>
              </svg>

              <div  ng-repeat="node in nodes" title="{{node.desc}}" ng-class="node.style" ng-style="node.position" style="position:absolute;" class="flow-step tst-robot-scraper-devtools-timeline-step ng-scope  active " >
                <div class="title-container"  ng-click="clickNode(node);$event.stopPropagation();">
                  <div class="title">{{node.title}}</div>
                </div>
                <div class="step-adder after" ng-click="addStepAfter(node);$event.stopPropagation();" >
                  <i class="fa fa-plus" ></i>
                </div>
                <div class="step-adder before" ng-click="addStepBefore(node);$event.stopPropagation();">
                  <i class="fa fa-plus"></i>
                </div>
              </div>


            </div>
          </div>
          <div class="tab-page fill padded " ng-controller="resultsCtrl">
            results
          </div>
          <div class="tab-page fill padded ">
            new <br>
            <input onclick="toggle();return false;" value="sidepane1" type="button">
            <input onclick="toggle_sidepane2();return false;" value="sidepane2" type="button">
          </div>

        </div>
      </div>
    </div>



<% end %>
