<% if @is_error %>
    <br/>
    <%= @error_content %>
<% else %>

    <%= javascript_tag do %>
        window.ym.url_value = "<%= @url_value %>";
        window.ym.modified_page = '<%= j @modified_page.html_safe %>'
    <% end %>

    <div class="p1">
      <div id="p0" class="p2-1 main">
        <div id="p2" class="p3-1 sidepane">
          <div class="content">
            <h3>
              <span >1 element selected</span>
              <div class="actions">
                <a href="javascript:;" ng-click="closeSidePane()" class="button mini">
                  <i class="fa fa-remove"></i>
                </a>
              </div>
            </h3>
            <div  class="body"  ng-include="sidePaneView">

            </div>
          </div>
        </div>
        <div id="p1" class="p3-2 page">
          <div class="p4-1 inner">
            <iframe id="modified_page" class="iframe_class">
            </iframe>
          </div>
        </div>
      </div>
      <div class="p2-2  mainpane">
        <div id="p4" class="p3-3 sidepane">

        </div>
        <div id="p3" class="p3-4 main tab-pane">
          <div class="tab-buttons">
            <a class="button active" tab-id="steps">Steps<i class="fa fa-chevron-down collapsed"></i></a>
            <a class="button " tab-id="logs">Log<i class="fa fa-chevron-down collapsed"></i></a>
            <a class="button " tab-id="new">new<i class="fa fa-chevron-down collapsed"></i></a>

            <div class="actions">
              <a class="button small t orange" ng-click="contactSupport()" title="Write a message to support">
                Get help
              </a>

              <i class="separator"></i>

              <a class="button small t" ng-click="goBack()">
                Close
              </a>

              <a ng-show="draft.exists" class="button danger small t" ng-click="discardDraft()"
                 ng-confirm="This will cause all current changes to be lost. Continue?">
                Discard draft
              </a>

              <a class="button small t" ng-click="jsonEditor.show()"
                 title="Edit the raw robot definition in JSON format">
                JSON
              </a>

              <a class="button primary small t" ng-click="save()">
                Save
              </a>

              <i class="separator"></i>

              <a class="button mini" title="Restart" ng-click="player.restart()">
                <i class="fa fa-fast-backward"></i>
              </a>
              <a class="button mini" title="Step back" ng-click="player.stepBack()">
                <i class="fa fa-step-backward"></i>
              </a>
              <a class="button mini" title="Step forward" ng-click="player.stepForward()">
                <i class="fa fa-step-forward"></i>
              </a>
              <a class="button mini" title="Start / stop" ng-click="player.togglePlay()"
                 ng-class="{secondary:state.playing}">
                <i class="fa fa-play"></i>
              </a>
            </div>
          </div>
          <div class="tab-page fill padded active">
            <div class="flow-editor" style="top:2px; left:10px;overflow:hidden; z-index:2;">
              <svg width="1346" height="222" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <g>
                  <title>Layer 1</title>
                  <g id="svg_7" class="line-weight:22px;">
                    <g id="svg_5">
                      <svg id="svg_1">
                        <defs>
                          <marker id="svg_3" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                            <path stroke="#2ecc71" fill="#2ecc71" id="svg_4" d="m0,0l10,5l-10,5l0,-10z"/>
                          </marker>
                        </defs>
                        <polyline id="svg_2" points="125,45 190,45 195,45" marker-end="url(#svg_3)" stroke="#2ecc71" stroke-width="2px"/>
                      </svg>
                    </g>
                    <g id="svg_51">
                      <svg id="svg_11">
                        <defs>
                          <marker id="svg_31" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                            <path stroke="#666" fill="#666" id="svg_41" d="m0,0l10,5l-10,5l0,-10z"/>
                          </marker>
                        </defs>
                        <polyline id="svg_21" points="315,45 380,45 385,45" marker-end="url(#svg_31)" stroke="#666" stroke-width="2px"/>
                      </svg>
                    </g>
                    <g id="svg_52">
                      <svg id="svg_12">
                        <defs>
                          <marker id="svg_32" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                            <path stroke="#666" fill="#666" id="svg_42" d="m0,0l10,5l-10,5l0,-10z"/>
                          </marker>
                        </defs>
                        <polyline id="svg_22" points="505,45 570,45 575,45" marker-end="url(#svg_32)" stroke="#666" stroke-width="2px"/>
                      </svg>
                    </g>
                    <g id="svg_8">
                      <svg id="svg_6" class="flow-edge  endpoint active">
                        <defs>
                          <marker id="svg_10" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                            <circle stroke-width="2px" fill="#666" id="svg_11" cx="5" cy="5" r="5"/>
                          </marker>
                        </defs>
                        <polyline stroke-width="2px" stroke="#666" id="svg_9" points="695,45 720,45" marker-end="url(#svg_10)"/>
                      </svg>
                    </g>
                  </g>
                </g>
              </svg>
              <div   ng-class="node.style" class="flow-step tst-robot-scraper-devtools-timeline-step ng-scope  active"  title="Url address: http://www.he-n-tax.gov.cn/hbgsww_new/hbgsgkml/ajxxgk/880/list.htm" style="position:absolute; left: 25px; top: 25px; width: 90px; height: 40px;">
                <div class="title-container">
                  <div class="title ng-binding">Go to URL</div>
                </div>
                <div  class="step-adder after">
                  <i class="fa fa-plus"></i>
                </div>
                <div  class="step-adder before">
                  <i class="fa fa-plus"></i>
                </div>
              </div>

              <div   ng-class="node.style" class="flow-step tst-robot-scraper-devtools-timeline-step ng-scope  active"  title="Url address: http://www.he-n-tax.gov.cn/hbgsww_new/hbgsgkml/ajxxgk/880/list.htm" style="position:absolute; left: 215px; top: 25px; width: 90px; height: 40px;">
                <div class="title-container">
                  <div class="title ng-binding">Click</div>
                </div>
                <div  class="step-adder after">
                  <i class="fa fa-plus"></i>
                </div>
                <div  class="step-adder before">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
              <div   ng-class="node.style" class="flow-step tst-robot-scraper-devtools-timeline-step ng-scope  active"  title="Url address: http://www.he-n-tax.gov.cn/hbgsww_new/hbgsgkml/ajxxgk/880/list.htm" style="position:absolute; left: 405px; top: 25px; width: 90px; height: 40px;">
                <div class="title-container">
                  <div class="title ng-binding">Extract</div>
                </div>
                <div  class="step-adder after">
                  <i class="fa fa-plus"></i>
                </div>
                <div  class="step-adder before">
                  <i class="fa fa-plus"></i>
                </div>
              </div>
              <div   ng-class="node.style" class="flow-step tst-robot-scraper-devtools-timeline-step ng-scope  active"  title="Url address: http://www.he-n-tax.gov.cn/hbgsww_new/hbgsgkml/ajxxgk/880/list.htm" style="position:absolute; left: 595px; top: 25px; width: 90px; height: 40px;">
                <div class="title-container">
                  <div class="title ng-binding">Save</div>
                </div>
                <div  class="step-adder after">
                  <i class="fa fa-plus"></i>
                </div>
                <div  class="step-adder before">
                  <i class="fa fa-plus"></i>
                </div>
              </div>


            </div>
          </div>
          <div class="tab-page fill padded ">
            logs
          </div>
          <div class="tab-page fill padded ">
            new <br>
            <input onclick="toggle();return false;" value="sidepane1" type="button">
            <input onclick="toggle_sidepane2();return false;" value="sidepane2" type="button">
          </div>

        </div>
      </div>
    </div>

    <script type="text/javascript">
        function size() {
            if (window.innerWidth)
                winWidth = window.innerWidth;
            else if ((document.body) && (document.body.clientWidth))
                winWidth = document.body.clientWidth;
            if (window.innerHeight)
                winHeight = window.innerHeight;
            else if ((document.body) && (document.body.clientHeight))
                winHeight = document.body.clientHeight;

            var p0 = document.getElementById("p0");
            var p1 = document.getElementById("p1");
            var p2 = document.getElementById("p2");
            p0.style.width = String(winWidth) + "px";
            p0.style.height = String(winHeight - 300) + "px";
            var p2_width = $("#p2").width();
            p1.style.width = String(winWidth - p2_width) + "px";


            var p4_width = $("#p4").width();
            $('#p3').css("width", String(winWidth - p4_width) + "px");
        }

        jQuery(document).ready(function () {
            size();
            window.sidepane_state = 1;
            window.sidepane2_state = 1;

        });

        var toggle = function () {
            var state = window.sidepane_state;
            if (state == 0) {
                window.sidepane_state = 1;
                toggle_state(1,"#p1", "#p2");
            } else {
                window.sidepane_state = 0;
                toggle_state(0,"#p1", "#p2");
            }
        };

        var toggle_sidepane2 = function () {
            var state = window.sidepane2_state;
            if (state == 0) {
                window.sidepane2_state = 1;
                toggle_state(2,"#p3", "#p4");
            } else {
                window.sidepane2_state = 0;
                toggle_state(0,"#p3", "#p4");
            }
        };
        // 三种状态之间进行切换。
        var toggle_state = function(state, main_id, sidepane_id){
            var main = $(main_id);
            var side = $(sidepane_id);
            var current_state ;
            var current_sidpane_width = side.width();
            switch (current_sidpane_width){
                case 0 : {current_state = 0; break;}
                case 270 : {current_state = 1; break;}
                case 520 : {current_state = 2; break;}
                default:{
                    current_state = 0;
                    console.log("current_sidepane_width = " + current_sidpane_width);
                }
            }
            var sidepane_width, main_width;
            if (current_state == 0) {
                switch (state) {
                    case 0 :
                    {
                        break;
                    }
                    case 1 :
                    {
                        sidepane_width = 270;
                        main_width = main.width() - 270;
                        animate_sidepane_mainpane(main, side, main_width, sidepane_width);
                        side.show();
                        break;
                    }
                    case 2:
                    {
                        sidepane_width = 520;
                        main_width = main.width() - 520;
                        animate_sidepane_mainpane(main, side, main_width, sidepane_width);
                        side.show();
                        break;
                    }
                    default:

                }

            } else if (current_state == 1) {
                switch (state) {
                    case 0 :
                    {
                        sidepane_width = 0;
                        main_width = main.width() + 270;
                        animate_sidepane_mainpane(main, side, main_width, sidepane_width);
                        side.hide();
                        break;
                    }
                    case 1 :
                    {
                        break;
                    }
                    case 2:
                    {
                        sidepane_width = 520;
                        main_width = main.width() - 520 + 270;
                        animate_sidepane_mainpane(main, side, main_width, sidepane_width);
                        side.show();
                        break;
                    }
                    default:

                }

            } else if (current_state == 2) {
                switch (state) {
                    case 0 :
                    {
                        sidepane_width = 0;
                        main_width = main.width() + 520;
                        animate_sidepane_mainpane(main, side, main_width, sidepane_width);
                        side.hide();
                        break;
                    }
                    case 1 :
                    {
                        sidepane_width = 270;
                        main_width = main.width() - 270 + 520;
                        animate_sidepane_mainpane(main, side, main_width, sidepane_width);
                        break;
                    }
                    case 2:
                    {
                        break;
                    }
                    default:

                }
            }
        };
        var animate_sidepane_mainpane = function(main , side, target_main_width, target_side_width){
            var speed = 50;
            side.animate({width:target_side_width +"px"}, speed);
            main.animate({width:target_main_width + "px", right : target_side_width + "px"},speed);
        };
    </script>


<% end %>
