<g id="{{svg.id}}" ng-repeat="svg in svgs">
    <svg id="{{svg.svg_id}}" ng-if="!svg.is_end">
        <defs>
            <marker id="{{svg.marker_id}}" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                <path stroke="{{svg.color}}" fill="{{svg.color}}"  id="{{svg.path_id}}" d="m0,0l10,5l-10,5l0,-10z"/>
            </marker>
        </defs>
    </svg>
    <svg id="{{svg.svg_id}}" ng-if="svg.is_end" class="flow-edge  endpoint active">
        <defs>
            <marker id="{{svg.marker_id}}" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                <circle stroke-width="2px" fill="{{svg.color}}" id="{{svg.path_id}}" cx="5" cy="5" r="5"/>
            </marker>
        </defs>
    </svg>
    <polyline id="aaa" points="{{svg.points}}" marker-end="url(#{{svg.marker_id}})" stroke="{{svg.color}}"
              stroke-width="2px"/>
</g>
