<g id="{{svg.id}}" ng-repeat="svg in svgs">
    <svg id="{{svg.svg_id}}" ng-if="!svg.is_end">
        <defs>
            <marker id="{{svg.marker_id}}" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                <path stroke="{{svg.color}}" fill="{{svg.color}}"  id="{{svg.path_id}}" d="m0,0l10,5l-10,5l0,-10z"/>
            </marker>
        </defs>
    </svg>
    <svg id="{{svg.svg_id}}" ng-if="svg.is_end" class="flow-edge  endpoint active">
        <defs>
            <marker id="{{svg.marker_id}}" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                <circle stroke-width="2px" fill="{{svg.color}}" id="{{svg.path_id}}" cx="5" cy="5" r="5"/>
            </marker>
        </defs>
    </svg>
    <polyline id="aaa" points="{{svg.points}}" marker-end="url(#{{svg.marker_id}})" stroke="{{svg.color}}"
              stroke-width="2px"/>
</g>

<!--<g id="svg_5">-->
    <!--<svg id="svg_1">-->
        <!--<defs>-->
            <!--<marker id="svg_3" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">-->
                <!--<path stroke="#2ecc71" fill="#2ecc71" id="svg_4" d="m0,0l10,5l-10,5l0,-10z"/>-->
            <!--</marker>-->
        <!--</defs>-->
        <!--<polyline id="svg_2" points="125,45 190,45 195,45" marker-end="url(#svg_3)" stroke="#2ecc71"-->
                  <!--stroke-width="2px"/>-->
    <!--</svg>-->
<!--</g>-->
<!--<g id="svg_51">-->
    <!--<svg id="svg_11">-->
        <!--<defs>-->
            <!--<marker id="svg_31" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">-->
                <!--<path stroke="#666" fill="#666" id="svg_41" d="m0,0l10,5l-10,5l0,-10z"/>-->
            <!--</marker>-->
        <!--</defs>-->
        <!--<polyline id="svg_21" points="315,45 380,45 385,45" marker-end="url(#svg_31)" stroke="#666" stroke-width="2px"/>-->
    <!--</svg>-->
<!--</g>-->
<!--<g id="svg_52">-->
    <!--<svg id="svg_12">-->
        <!--<defs>-->
            <!--<marker id="svg_32" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">-->
                <!--<path stroke="#666" fill="#666" id="svg_42" d="m0,0l10,5l-10,5l0,-10z"/>-->
            <!--</marker>-->
        <!--</defs>-->
        <!--<polyline id="svg_22" points="505,45 570,45 575,45" marker-end="url(#svg_32)" stroke="#666" stroke-width="2px"/>-->
    <!--</svg>-->
<!--</g>-->
<!--<g id="svg_8">-->
    <!--<svg id="svg_6" class="flow-edge  endpoint active">-->
        <!--<defs>-->
            <!--<marker id="svg_10" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="6" markerHeight="6" orient="auto">-->
                <!--<circle stroke-width="2px" fill="#666" id="svg_11" cx="5" cy="5" r="5"/>-->
            <!--</marker>-->
        <!--</defs>-->
        <!--<polyline stroke-width="2px" stroke="#666" id="svg_9" points="695,45 720,45" marker-end="url(#svg_10)"/>-->
    <!--</svg>-->
<!--</g>-->
