// Place all the styles related to the scrape controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.gridtable {
  font-family: verdana,arial,sans-serif;
  font-size:11px;
  color:#333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}
table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}
table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

.iframe_class {
  position: absolute;
  border: 0 none;
  display: block;
  width: 100%;
  height: 100%;
}

.fancy {
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border: solid blue 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.side_pane {
  position: absolute;
  right: 0;
  top: 42px;
  width: 260px;
  height: 300px;
  background-color: #287ade;

}