// Place all the styles related to the scrape controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

table.gridtable {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #666666;
  border-collapse: collapse;
}

table.gridtable th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #dedede;
}

table.gridtable td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #666666;
  background-color: #ffffff;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
}

button, input, select, textarea {
  font: 99% arial, helvetica, clean, sans-serif
}

div {
  margin: 0;
  border: 0;
  display: block;
}

.p1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.p2-1 {
  position: relative;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 366px;
  width: 100%;
  z-index: 2;
}

.p2-2 {
  position: relative;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  background-color: #f6f6f6;
  z-index: 2

}

.p3-1 {
  position: absolute;
  //width: 270px;
  width: 0;
  display : none;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 4;
  background-color: rgba(255,255,255,.8);
  -moz-box-shadow: -5px 0 6px 0 rgba(0, 0, 0, .3);
  -webkit-box-shadow: -5px 0 6px 0 rgba(0, 0, 0, .3);
  box-shadow: -5px 0 6px 0 rgba(0, 0, 0, .3);
}

h3 {
  font-size: 16px;
  font-weight:200;
}

h3>span, h4>span, h5>span {
    float: left;
    font-style: normal;
    font-variant:normal;
    color : #000;
}



.sidepane > .content {
    height : 43px;
    padding : 0;
    width : 100%
}

.sidepane h3 {
  line-height: 43px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  height: 43px;
  margin: 0;
}

.sidepane h3 .actions {
  float: right;
  vertical-align: top;
  height: 43px;
}

.sidepane h3 .actions a {
  margin-top: 10px;
  height: 22px;
  position: relative;
}

.button:active, .button:visited, .wb-action:active, .wb-action:visited, .wb-button:active, .wb-button:visited, .wb-form-button:active, .wb-form-button:visited, button:active, button:visited, input.button:active, input.button:visited, input.submit:active, input.submit:visited {
  color: #636e7b;
}

.button, .wb-action, .wb-button, .wb-form-button, button, input.button, input.submit {
  user-select: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
  outline: 0;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 5px;
  cursor: pointer;
  color: #333;
  background-color: #efefef;
  border: 1px solid #ccc;
  line-height: 32px;
  text-decoration: none;
  padding: 0 5px;
}
.button.mini {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    position: relative;
    padding: 0;
}

.button.mini i, .wb-action.mini i, .wb-button.mini i, .wb-form-button.mini i, button.mini i, input.button.mini i, input.submit.mini i {
    padding: 0 4px;
    height:20px;
}
.button>i, .wb-action>i, .wb-button>i, .wb-form-button>i, button>i, input.button>i, input.submit>i {
    font-style: normal!important;
    font-size : 12px;
    line-height: 20px;
}

a, a:active, a:visited {
    text-decoration: none;
    color: #428bca;
}
.actions a {
  padding: 0;

}

.sidepane > .content > .body , .sidepane > .body {
  position: absolute;
  overflow: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 42px;
}

.contextmenu {
  background-color: #465a7d;
  border: 0;
  color: #CFCFCF;
  min-height: 100%;
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, input, legend, li, menu, ol, p, pre, td, textarea, th, ul {
  padding: 0;
  margin: 0;
}

.contextmenu > li > a, .contextmenu > li > a:active, .contextmenu > li > a:visited {
  padding: 10px 20px;
  color: #CFCFCF;
  font-size: 14px;
  display: block;
  text-decoration: none;
  position: relative;
}

a, body, h4, h5, h6, input {
  font-family: Lato, "Helvetica Neue Light", "Helvetica Neue", Verdana;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400
}

.p3-2 {
  position: absolute;
  //right: 270px;
  right: 0;
  height: 100%;
  width: 1096px;
  top: 0;
  z-index: 3;
  -moz-box-shadow: 5px 0 6px 0 rgba(0, 0, 0, .3);
  -webkit-box-shadow: 5px 0 6px 0 rgba(0, 0, 0, .3);
  box-shadow: 5px 0 6px 0 rgba(0, 0, 0, .3);
  background-color: #fff;
  overflow-x: scroll;
  overflow-y: hidden;
}

.p3-3 {
  position: absolute;
  //width: 270px;
  width:0;
  display :none;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #F6F6F6;
  -moz-box-shadow: 5px -3px 6px 0 rgba(0, 0, 0, .3);
  -webkit-box-shadow: 5px -3px 6px 0 rgba(0, 0, 0, .3);
  box-shadow: 5px -3px 6px 0 rgba(0, 0, 0, .3);
  overflow: auto;
}

.p3-4 {
  position: absolute;
  //right: 270px;
  right:0;
  height: 100%;
  width: 1096px;
  top: 0;
  box-shadow: 5px -3px 6px 0 rgba(0,0,0,.3);
  background-color: #eee;
  overflow: auto;

  //transform-style: preserve-3d;
  //-webkit-backface-visibility: hidden;
  //backface-visibility: hidden;
  //-webkit-transform: translate3d(0, 0, 0);
  //-moz-transform: translate3d(0, 0, 0);
  //transform: translate3d(0, 0, 0);
  //-webkit-perspective: 1000px;
  //perspective: 1000px;
  //-webkit-transition: right .1s ease-out;
  //-moz-transition: right .1s ease-out;
  //-o-transition: right .1s ease-out;
  //transition: right .1s ease-out;
  z-index: 2;

}

.p4-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iframe_class {
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  position: absolute;
  display: block;
  z-index: 2;
}

.flow-editor {
  position: absolute;
  cursor: crosshair;
}


.flow-step {
  border-radius: 5px;
  position: absolute;
  border: 1px solid #E4E7EA;
  border-color: #666;
  background-color: #fff;
  line-height: 38px;
  text-align: center;
  box-sizing: border-box;
  z-index: 3;
  font-size: 14px;
}

.flow-step :hover{
  background-color: rgba(150, 150, 150, .1);
  border-color: #666
}

.title-container {
  overflow: hidden;
}

.flow-step .title {
  border-radius: 5px;
  cursor: pointer;
}

.flow-step .step-adder {
  -webkit-user-select: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: all .1s ease-out;
  -moz-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
  opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  z-index: 50;
  background-color: #2ecc71;
  color: #fff;
  position: absolute;
  line-height: 15px;
  font-size: 10px;
  height: 15px;
  width: 15px;
  cursor: pointer;
  top: 0;
  left: 0
}

.flow-step .step-adder.after {
  font-family: Lato, "Helvetica Neue Light", "Helvetica Neue", Verdana;
  right: -8px;
  top: 12px;
  left: auto;
  transform: translate(-10px, 0);
  -ms-transform: translate(-10px, 0);
  -webkit-transform: translate(-10px, 0);
  -moz-transform: translate(-10px, 0);
}

.flow-step .step-adder.before {
  font-family: Lato, "Helvetica Neue Light", "Helvetica Neue", Verdana;
  left: -8px;
  top: 12px;
  transform: translate(10px, 0);
  -ms-transform: translate(10px, 0);
  -webkit-transform: translate(10px, 0);
  -moz-transform: translate(10px, 0);
  z-index: 51;
}

.flow-step:hover .step-adder {
  opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0)
}
.flow-step.selected {
  border-color: rgba(0,0,0,.8);
  border-width: 1px;
  border-style: dashed;
}
.tab-pane {

}

.tab-pane > .tab-buttons {
  user-select: none;
  box-sizing: border-box;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 38px
}

.tab-pane > .tab-buttons > .button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  vertical-align: bottom;
  background-color: #EFEFEF;
  z-index: 0;
  position: relative;
  top: 1px;
  border: 1px solid transparent;
  color: #666;
  padding: 5px 10px;
  line-height: 27px;
  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  font-size: 12px;
  white-space: nowrap
}

.tab-pane > .tab-buttons > .button i.collapsed {
  display: none
}

.tab-pane > .tab-buttons > .button.active, .tab-pane > .tab-buttons > .button:hover {
  color: #333;
  top: 1px;
  z-index: 2;
  border-top: 1px solid #E4E7EA;
  border-left: 1px solid #E4E7EA;
  border-right: 1px solid #E4E7EA;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  cursor: pointer;
}

.tab-pane > .tab-buttons > .button.highlight {
  border: 1px solid #3276b1
}

.tab-pane > .tab-buttons > .button > .close {
  padding-left: 5px;
  cursor: pointer
}

.tab-pane > .tab-buttons > .button > .close:hover {
  color: #3276b1;
}

.tab-pane > .tab-buttons > .actions {
  -ms-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 3px 10px 8px
}

.lightbox img, .tab-pane.collapsed > .tab-buttons > .tab-down {
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2)
}

.tab-pane > .tab-page {
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 1
}

.tab-pane > .tab-page.active {
  display: block
}

.tab-pane > .tab-page.filled {
  background-color: #fff;
  padding: 15px
}

.tab-pane > .tab-page .boxed, .tab-pane > .tab-page > form {
  margin-top: 0 !important;
  padding-top: 10px
}

.tab-pane.boxed > .tab-page {
  border: 1px solid #E4E7EA
}

.tab-pane.filled > .tab-page {
  background-color: #fff;
  padding: 15px
}

.tab-pane.collapsed > .tab-buttons > .button {
  display: none;
  font-size: 14px
}

.tab-pane.collapsed > .tab-buttons > .button i.collapsed {
  display: inline-block;
  margin-top: 3px;
  margin-right: 10px
}

.tab-pane.collapsed > .tab-buttons > .button i.close {
  display: none
}

.tab-pane.collapsed > .tab-buttons > .button.active {
  display: inline-block;
  width: 184px
}

.accordion > .pane > h3 .open, .tab-pane.collapsed > .tab-buttons > .tab-down > li i.collapsed {
  display: none
}

.tab-pane.collapsed > .tab-buttons > .tab-down {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2);
  position: relative;
  top: 0;
  left: 2px;
  z-index: 100;
  width: 200px;
  border: 1px solid #E4E7EA;
  overflow-y: auto
}

.tab-pane.collapsed > .tab-buttons > .tab-down > li {
  background-color: #fff;
  color: #666;
  padding: 5px 20px;
  line-height: 31px;
  box-sizing: border-box;
  margin: 0;
  cursor: pointer
}

.tab-pane.collapsed > .tab-buttons > .tab-down > li:hover {
  background-color: #EFEFEF
}

.tab-pane.collapsed > .tab-buttons > .tab-down > li.active {
  background-color: #3276b1;
  color: #fff
}

.tab-pane.collapsed > .tab-buttons > .tab-down > li > .close {
  float: right;
  margin-top: 8px
}


.accordion, .form-row {
  position: relative;
}
.form-row>.field-label {
  width: auto;
  display: block;
  text-align: left;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
}

.form-row>.help {
  margin-left: 0;
}
.form-row>.help {
  font-size: 12px;
  color: #999;
}

.sidepane input[type=text]{
  width: 100%;
}
input, select, textarea {
  border: 1px solid #E4E7EA;
}
input, select {
  padding: 2px 5px;
  box-sizing: border-box;
}
.form-row>.field-label {
  width: auto;
  display: block;
  text-align: left;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
}
.sidepane select {
  width: 100%;
}
select {
  vertical-align: middle;
  height: 30px;
}
button, input, select, textarea {
  font: 99% arial,helvetica,clean,sans-serif;
}

.wb-action.primary, .wb-action.wb-success, .wb-button.primary, .wb-button.wb-success, .wb-form-button.primary, .wb-form-button.wb-success, button.primary, button.wb-success, input.button.primary, input.button.wb-success, input.submit.primary, input.submit.wb-success {
  border-color: #2c699d;
  background-color: #3276b1;
  color: #fff;
}
.button, .wb-action, .wb-button, .wb-form-button, button, input.button, input.submit {
  user-select: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
  outline: 0;
  display: inline-block;
  box-sizing: border-box;
  margin-top: 5px;
  cursor: pointer;
  color: #333;
  background-color: #efefef;
  border: 1px solid #ccc;
  line-height: 32px;
  text-decoration: none;
  padding: 0 5px;
}

 .step-form .form-buttons,  .step-form .form-row {
  padding-left: 15px;
  padding-right: 15px;
}
.form-buttons {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #E4E7EA;
  background-color: #fff;
}

[about] {
  background-color: #E4E7EA;
  color: #1812ca;
  font-weight: bolder !important;
}

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex-wrap: no-wrap;
  -moz-box-flex-wrap: no-wrap;
  -webkit-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  margin-bottom: 5px;
}

.flow-step.playing {
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -o-perspective: 1000px
}
.flow-step.playing {
  border: 0;
  background-color: #54d98c;
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  -moz-animation: progress-bar-stripes 1s linear infinite;
  -o-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
  background-size: 40px 40px
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0
  }
  to {
    background-position: 0 0
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0
  }
  to {
    background-position: 0 0
  }
}


.button.orange, .wb-action.orange, .wb-button.orange, .wb-form-button.orange, button.orange, input.button.orange, input.submit.orange {
  background-color: #f38109;
  border-color: #f38109;
  color: #fff;
}
.button.orange.active,.button.orange:hover:not(.loading),.wb-action.orange.active,.wb-action.orange:hover:not(.loading),.wb-button.orange.active,.wb-button.orange:hover:not(.loading),.wb-form-button.orange.active,.wb-form-button.orange:hover:not(.loading),button.orange.active,button.orange:hover:not(.loading),input.button.orange.active,input.button.orange:hover:not(.loading),input.submit.orange.active,input.submit.orange:hover:not(.loading) {
  background-color: #e27808;
  border-color: #e27808
}
.button.small, .wb-action.small, .wb-button.small, .wb-form-button.small, button.small, input.button.small, input.submit.small {
  font-size: 12px;
  line-height: 22px;
  padding: 0 5px;
}
.button.primary, .button.wb-success, .wb-action.primary, .wb-action.wb-success, .wb-button.primary, .wb-button.wb-success, .wb-form-button.primary, .wb-form-button.wb-success, button.primary, button.wb-success, input.button.primary, input.button.wb-success, input.submit.primary, input.submit.wb-success {
  border-color: #2c699d;
  background-color: #3276b1;
  color: #fff;
}
.button.primary.active,.button.primary:hover:not(.loading),.button.wb-success.active,.button.wb-success:hover:not(.loading),.wb-action.primary.active,.wb-action.primary:hover:not(.loading),.wb-action.wb-success.active,.wb-action.wb-success:hover:not(.loading),.wb-button.primary.active,.wb-button.primary:hover:not(.loading),.wb-button.wb-success.active,.wb-button.wb-success:hover:not(.loading),.wb-form-button.primary.active,.wb-form-button.primary:hover:not(.loading),.wb-form-button.wb-success.active,.wb-form-button.wb-success:hover:not(.loading),button.primary.active,button.primary:hover:not(.loading),button.wb-success.active,button.wb-success:hover:not(.loading),input.button.primary.active,input.button.primary:hover:not(.loading),input.button.wb-success.active,input.button.wb-success:hover:not(.loading),input.submit.primary.active,input.submit.primary:hover:not(.loading),input.submit.wb-success.active,input.submit.wb-success:hover:not(.loading) {
  background-color: #3883c5;
  border-color: #3276b1
}
.button.mini:hover:not(.loading)>span,.wb-action.mini:hover:not(.loading)>span,.wb-button.mini:hover:not(.loading)>span,.wb-form-button.mini:hover:not(.loading)>span,button.mini:hover:not(.loading)>span,input.button.mini:hover:not(.loading)>span,input.submit.mini:hover:not(.loading)>span {
  display: block;
  opacity: 1
}
.main>.loader {
  display: block;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.loader {
  background-color: #f6f6f6;
  padding: 15px;
  border: 1px solid #E4E7EA;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}
.main>.loader span {
  font-size: 32px;
  line-height: 60px;
  font-weight: 200;
  color: #fff;
}
.main>.loader .spinner-container {
  display: block;
  margin: 0 auto;
  height: 60px;
}
.sk-spinner-rotating-plane.sk-spinner {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  margin: 0 auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
  animation: sk-rotatePlane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0)
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0)
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
  }
}

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0) rotateY(0);
    transform: perspective(120px) rotateX(0) rotateY(0)
  }

  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0)
  }

  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
  }
}
.button.danger, .button.wb-warning, .wb-action.danger, .wb-action.wb-warning, .wb-button.danger, .wb-button.wb-warning, .wb-form-button.danger, .wb-form-button.wb-warning, button.danger, button.wb-warning, input.button.danger, input.button.wb-warning, input.submit.danger, input.submit.wb-warning {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff;
}
 .actions .button:hover {
  color: #333;
  top: 1px;
  z-index: 2;
  border-top: 1px solid #E4E7EA;
  border-left: 1px solid #E4E7EA;
  border-right: 1px solid #E4E7EA;
  border-bottom: 1px solid #fff;
  background-color: #fff
}

.ui-dialog {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  border: 1px solid #E4E7EA;
  background-color: #fff;
  z-index: 100;
  overflow: hidden;
}

.button.secondary, .wb-action.secondary, .wb-button.secondary, .wb-form-button.secondary, button.secondary, input.button.secondary, input.submit.secondary {
  background-color: #2ecc71;
  border-color: #29b765;
  color: #fff
}
.button-hover-title {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  z-index: 9999;
  position: absolute;
  text-align: center;
  background-color: rgba(30, 30, 30, .7);
  padding: 5px;
  color: #fff;
  white-space: nowrap
}

.main .page .marker-container {
  z-index: 6;
  display: block;
  overflow: auto;
  cursor: pointer;
  outline: transparent solid 0;
}
.main .page .marker-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.marker-container .container.scroll {
  overflow: hidden;
  z-index: 5;
}
.marker-container .container {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: translate3d(0,0,0);
  perspective: 1000px;
}
.marker-container .container {
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  position: absolute;
}

::-webkit-scrollbar {
  -webkit-appearance: none
}

::-webkit-scrollbar:vertical {
  width: 10px
}

::-webkit-scrollbar:horizontal {
  height: 10px
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #E4E7EA;
  background-color: #666
}

::-webkit-scrollbar-track {
  background-color: #E4E7EA;
  z-index: 99
}

.marker-container .container.scroll.scroller {
  display: block;
  position: absolute;
  overflow : scroll;
  left: 0;
  top: 0;
  min-width: 1px;
  min-height: 1px
}

 .page .marker-container .marker {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  box-sizing: content-box;
  box-shadow: 0 0 10px rgba(0,0,0,.8);
  position: absolute;
  z-index: 1;
}

.marker-container .marker.suggestion {
  opacity: .8;
}
.marker-container .marker.selected {
  background-color: rgba(200,200,255,.4);
  z-index: 2002;
}
.page .marker-container .marker {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  box-sizing: content-box;
  box-shadow: 0 0 10px rgba(0,0,0,.8);
  position: absolute;
  z-index: 1;
}
blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, input, legend, li, menu, ol, p, pre, td, textarea, th, ul {
  padding: 0;
  margin: 0;
}
.tab-pane>.tab-page>form {
  margin-top: 0!important;
  padding-top: 10px;
}
.robot-field-list .robot-field {
  border-bottom: 1px solid #E4E7EA;
  padding: 15px;
  box-sizing: border-box;
}

.form-row-line {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
 .robot-field-list .robot-field>.actions {
  width: 90px;
  vertical-align: middle;
}

 .robot-field-list .robot-field .form-row, .robot-field-list .robot-field>.actions {
  -webkit-box-flex-grow: 0;
  -moz-box-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  margin: 0;
}
.form-row-line>* {
  -webkit-box-flex-grow: 1;
  -moz-box-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  box-sizing: border-box;
  padding-right: 15px;
}
.form-row {
  margin-bottom: 11px;
}
.accordion, .form-row {
  position: relative;
}
.padded {
  box-sizing: border-box;
  padding: 10px!important;
}
.form-row > .field-label {
  width: auto;
  display: block;
  text-align: left;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
}
.form-row > .field-label {
  width: auto;
  display: block;
  text-align: left;
  padding: 0;
  font-size: 12px;
  font-weight: 500;
}
input, select {
  padding: 2px 5px;
  box-sizing: border-box;
}
input, select, textarea {
  border: 1px solid #E4E7EA;
}
.input, input, select, textarea {
  width: 240px;
}
button, input, select, textarea {
  font: 99% arial,helvetica,clean,sans-serif;
}
a, body, h4, h5, h6, input {
  font-family: Lato,"Helvetica Neue Light","Helvetica Neue",Verdana;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

label {
  cursor: default;
}
 .robot-field-list input[type=number], .robot-field-list input[type=text],  .robot-field-list select,  .robot-field-list textarea {
  width: 240px;
}

input.ng-invalid:not(.ng-pristine), select.ng-invalid:not(.ng-pristine), textarea.ng-invalid:not(.ng-pristine) {
  background-color: #fee;
  border-color: #f28f8c;
}
input.button, input.checkbox, input.radio, input.submit, input[type=button], input[type=checkbox], input[type=radio], input[type=submit] {
  width: auto;
  padding: inherit;
  border: 0;
}

.p3-1 .body .field-elements{
  padding: 0 15px;
  overflow: auto;
}

.p3-1 .body .field-elements .info {
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #E4E7EA;
}
.p3-1 .body .step-row select {
  width : auto;
  vertical-align: middle;
  height: 30px;
  border: 1px solid #E4E7EA;
}
.p3-1 .body .step-row input {
  width : auto;
  vertical-align: middle;
  height: 30px;
  border: 1px solid #E4E7EA;
}
.p3-1 .body .step-row .form-button {
  padding-top: 20px;
}
.p3-1  .form-buttons {
  padding-left: 0;
}

.tab-page table {
  border-collapse: collapse;
  border-spacing: 0;
  font: 100%;
  width: 100%;
}
.tab-page table th {
  border-bottom: 1px solid #E4E7EA;
  font-weight: 200;
  font-size: 14px;
  text-align: left;
}

.tab-page table td, .tab-page table  th {
  display: table-cell;
  vertical-align: inherit;
  padding: 5px;
  box-sizing: border-box;
}
table .results  tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.tab-page table td {
  height: 38px;
  border-bottom: 1px solid #EFEFEF;
  border-left: 1px solid #EFEFEF;
}
.ui-widget-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  opacity: .6;
  background: #000;
}
.ui-dialog-content {
  padding: 0 35px 35px;
  overflow: auto;
}
.jsoneditor, .outputformatting {
  z-index: 100;
  width: 600px;
}

.ui-resizable-handle {
  position: absolute;
  min-width: 15px;
  min-height: 15px
}

.ui-resizable-handle.ui-resizable-n {
  top: 0;
  left: 15px;
  right: 15px;
  cursor: n-resize
}

.ui-resizable-handle.ui-resizable-e {
  top: 15px;
  bottom: 15px;
  right: 0;
  cursor: e-resize
}

.ui-resizable-handle.ui-resizable-s {
  bottom: 0;
  left: 15px;
  right: 15px;
  cursor: s-resize
}

.ui-resizable-handle.ui-resizable-w {
  top: 15px;
  bottom: 15px;
  left: 0;
  cursor: w-resize
}

.ui-resizable-handle.ui-resizable-se {
  right: 0;
  bottom: 0;
  cursor: se-resize
}
.ui-dialog .ui-dialog-titlebar {
  padding: 35px 35px 20px;
  cursor: move;
  position: relative;
}
.ui-widget-header {
  background: #fff;
  border: 0;
  font-weight: 100;
  font-size: 24px;
}

.ui-resizable-handle.ui-resizable-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize
}

.ui-resizable-handle.ui-resizable-ne {
  top: 0;
  right: 0;
  cursor: ne-resize
}

.ui-resizable-handle.ui-resizable-nw {
  top: 0;
  left: 0;
  cursor: nw-resize
}
.ui-dialog {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  border: 1px solid #E4E7EA;
  background-color: #fff;
  z-index: 100;
  overflow: hidden;
}
.ui-dialog-titlebar-close {
  position: absolute;
  right: 35px;
  top: 35px;
  background-color: transparent;
  border: none;
  margin-top: 0;
  font-size: 22px;
}

.ui-button {
  border: 1px solid #E4E7EA;
  background-color: #fff;
  cursor: pointer;
  outline: 0;
}
.ui-button-icon-only, .ui-icon {
  padding: 0;
}
.ui-dialog-titlebar-close .ui-icon:before, .ui-icon-close:before {
  content: "\f00d";
}
.ui-button-icon-only .ui-button-text {
  display: none;
}
.ui-icon {
  display: block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
}
.ui-dialog-titlebar-close {
  position: absolute;
  right: 35px;
  top: 35px;
  background-color: transparent;
  border: none;
  margin-top: 0;
  font-size: 22px;
}
.jsoneditor .javascript-editor, .outputformatting .javascript-editor {
  min-height: 300px;
  max-height: 300px;
}